db.sqlite3
../../bm/data
GenePT
ensembl-vep
betse_data
venv
node_modules
data/files
data/table_content
data/table_schema


data/main_ckpt/sne/
data/main_ckpt/gene.json
data/main_ckpt/transcriptome.json


biokg
dashboard/brainmaster/netZooPy
utils/file/gtf/Homo_sapiens.GRCh38.112.gtf
models/zoo/
models/DeepFun/
models/scGenePT/
models/genePT/
models/deep_somatic/
dashboard/model/cellpose/images/example_tif_best.tif
gnn/processing/layer/atomar/ATOMIC_KG/
gnn/model/EGRET/
geld