{% load unicorn %}
{% load static %}
<html>
    <head>
        {% unicorn_scripts %}
            <script type="importmap">
            {
              "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@<version>/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@<version>/examples/jsm/"
              }
            }
            </script>
        <title>BestBrain tech</title>
    </head>
    <body>
        {% csrf_token %}

        {% unicorn "graph_view" %}
    </body>
</html>

