<div>
    <input type="text" unicorn:model="message" placeholder="Write..." />
    <unicorn name="main">
        <button unicorn:click="send">Send</button>
    </unicorn>
    <div style="position:relative; width:100%; height:200px; border:1px solid #ddd; margin-top:1rem;">
        {% if nodes %}
            {% for attrs in nodes %}
                <div
                    style="transform: translate3d({{ attrs.pos.0 }}px, {{ attrs.pos.1 }}px, {{ attrs.pos.2 }}px); transition: transform 0.2s;"
                    class="w-16 h-16 bg-blue-500">
                    🧊
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
